services:
  nginx:
    build: ./docker/nginx
    ports:
      - "80:80"
    volumes:
      - ./backend/api:/var/www/html
    depends_on:
      - api
      - web
    networks:
      - app_net

  nginx-exporter:
    image: nginx/nginx-prometheus-exporter:latest
    container_name: nginx-exporter
    environment:
      - SCRAPE_URI=http://nginx:80/metrics
    ports:
      - "9113:9113"
    networks:
      - app_net
    depends_on:
      - nginx

  web:
    build:
      context: ./frontend/app
      dockerfile: ../Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - api
    networks:
      - app_net

  api:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    env_file:
      - backend/api/.env
    depends_on:
      - db
      - redis
    networks:
      - app_net
    user: "1000:1000"

  worker:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    command: php artisan queue:work redis --sleep=3 --tries=3
    env_file:
      - backend/api/.env
    depends_on:
      - redis
      - api
    restart: always
    networks:
      - app_net

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: laravel
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app_net

  redis:
    image: redis:alpine
    restart: always
    networks:
      - app_net

  # --- سرویس جدید: مترجم ردیس برای پرومتئوس ---
  redis-exporter:
    image: oliver006/redis_exporter
    environment:
      - REDIS_ADDR=redis:6379
    networks:
      - app_net

  prometheus:
    image: prom/prometheus
    volumes:
      - ./monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - app_net

  grafana:
    image: grafana/grafana
    ports:
      - "3001:3000"
    depends_on:
      - prometheus
    networks:
      - app_net

  k6:
    image: grafana/k6
    networks:
      - app_net
    volumes:
      - ./load-test:/scripts
    entrypoint: ["k6"]

volumes:
  db_data:

networks:
  app_net:
    driver: bridge