name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  # ===============================
  # Backend - Laravel
  # ===============================
  backend:
    name: Backend CI
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2

      - name: Install backend dependencies
        working-directory: backend/api
        run: composer install --no-interaction

      - name: Run Laravel tests
        working-directory: backend/api
        run: php artisan test


  # ===============================
  # Frontend - Next.js
  # ===============================
  frontend:
    name: Frontend CI
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install frontend dependencies
        working-directory: frontend/app
        run: npm ci

      - name: Build frontend
        working-directory: frontend/app
        run: npm run build


  # ===============================
  # Docker Build & Push
  # ===============================
  docker:
    name: Build & Push Docker Images
    runs-on: ubuntu-latest
    needs: [backend, frontend]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Backend Image
        run: |
          docker build \
            -f backend/Dockerfile \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/sporttech-api:${{ github.sha }} .

      - name: Build Frontend Image
        run: |
          docker build \
            -f frontend/Dockerfile \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/sporttech-web:${{ github.sha }} .

      - name: Push Images
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/sporttech-api:${{ github.sha }}
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/sporttech-web:${{ github.sha }}
